<%= stylesheet_link_tag 'style.css' %>
<%= form_for(:article) do |f| %>

<div>
<h1>Edit Article: <%=@article.name%></h1>
    <% if @article.errors.any? %>
        <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li>
                    <%= message%>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>

<div>
    <%= f.label :name %>
    <%= f.text_field :name , value: @article.name %>
</div>

<div>
    <%= f.label :body %>
    <%= f.text_area :body , value: @article.body %>
</div>

<div class="form-submit">
    <%= hidden_field_tag(:id, @article.id) %>
    <%= f.submit 'Update', formaction: update_article_path%>
    <%= f.submit 'Delete', formaction: delete_article_path, data: { confirm: 'Are you sure you want to delete this article?' }%>
</div>

<% end %>

<%= link_to 'Back to Articles', articles_path, class: "btn-link-to"%>